<ion-header>
  <ion-toolbar>
    <ion-title color="warning">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Card--> 

<div class="card">
  <ion-card>
    <img class="imagen" src="https://www.citypng.com/public/uploads/small/11639594360nclmllzpmer2dvmrgsojcin90qmnuloytwrcohikyurvuyfzvhxeeaveigoiajks5w2nytyfpix678beyh4ykhgvmhkv3r3yj5hi.png" />
      <ion-button routerLink="/login-docente" expand="block" fill="outline" shape="round" color="warning">
        Ingresar como Docente
      </ion-button>
  </ion-card>

  <ion-card>
    <img class="imagen" src="https://www.citypng.com/public/uploads/small/11639594360nclmllzpmer2dvmrgsojcin90qmnuloytwrcohikyurvuyfzvhxeeaveigoiajks5w2nytyfpix678beyh4ykhgvmhkv3r3yj5hi.png" />
      <ion-button routerLink="/login-estudiante" expand="block" fill="outline" shape="round" color="warning">
        Ingresar como Estudiante
      </ion-button>
  </ion-card>

</div>
</ion-content>
